.burgerMenuContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.burgerMenuBtn {
  font-family: "Jost";
  font-weight: 500;
  font-size: 14px;
  line-height: 20.23px;
  text-transform: uppercase;
  padding: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.burgerMenuBtn img {
  width: 18px;
}

.burgerMenuBtn:hover {
  color: transparent;
  background-image: linear-gradient(90deg, #b0852c 0%, #d8c05b 100%);
  background-clip: text;
}

.burgerMenuList {
  display: flex;
  flex-direction: column;
  padding: 0 0 0 10px;
  color: black;
  padding: 5px;
  font-size: 14px;
}

.downListItem {
  padding: 10px;
  transition: 0.2s;
}

.downListItem:hover {
  color: transparent;
  background-image: linear-gradient(90deg, #b0852c 0%, #d8c05b 100%);
  background-clip: text;
}

.downListItem:last-child {
  margin: 0 0 15px 0;
}
.downListItem:first-child {
  margin: 0;
}

.rotated {
  transform: rotate(180deg);
}
