.menuContainer {
  position: relative;
  display: inline-block;
}

.menuBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: "Jost";
  font-weight: 500;
  font-size: 14px;
  line-height: 20.23px;
  text-transform: uppercase;
  padding: 15px;
}

.menuBtn:hover {
  color: transparent;
  background-image: linear-gradient(90deg, #b0852c 0%, #d8c05b 100%);
  background-clip: text;
}
.menuBtn:hover span {
  border-bottom: solid 1px #b0852c;
}

.menuList {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  min-width: 100%;
  display: flex;
  flex-direction: column;
}

.menuListItem {
  padding: 12px 15px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}

.menuListItem:hover {
  color: transparent;
  background-image: linear-gradient(90deg, #b0852c 0%, #d8c05b 100%);
  background-clip: text;
}

.rotated {
  transform: rotate(180deg);
}
